<%- include('partials/header'); -%>

<div class="posts post-page">
  <h2>About</h2>
  <p>This blog has created to test my back-end developer skills. Using NodeJS with the Express framework I develop this server with different routes and post requests handlers. This blog uses EJS, stores the data created in a MongoDB database (native module no Mongoose) and can register users in a MailChimp audience. In the homepage I will be writing about the steps made to create this website and all the functionalities that it was.</p>
</div>

<%- include('partials/footer'); -%>
